body{
 background-color: rgb(230, 236, 255);
}

canvas {
 position:absolute;
 top:50;bottom:5;right:0;left:0;
 margin:auto;
}

.plus-points{
  color: rgb(0, 153, 0);
}

.minus-points{
  color: rgb(255,80,79);
}

.timer{
  padding-left: 500px;
  font-size: 50px;
}

.countDown{
  padding-left: 20px;
  font-size: 50px;
  color: blue;
}
